@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
} */

.input {
  @apply w-full text-zinc-700 bg-gray-200 p-2 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:bg-white;
}

.update-delete-btns {
  @apply text-white px-4 py-2 rounded-sm shadow-lg text-sm;
}

.nav-links {
  @apply hover:text-red-600 transition duration-150;
}

.add-btn {
  @apply mt-4 bg-blue-900 text-white p-2 rounded-sm hover:bg-blue-700 shadow-md w-full;
}
